<div class="full-width-header header-transparent2">
  <!--Header Start-->
  <header id="rs-header" class="rs-header">
    <!-- Menu Start -->
    <div class="menu-area menu-sticky">
      <div class="top-part hidden-md">
        <div class="container">
          <div class="row rs-vertical-middle">
            <div class="col-md-3">
              <div class="logo-area">
                <a href="index.html"><img src="/assets/images/white-logo.png" alt="logo"></a>
              </div>
            </div>
            <div class="col-md-9">
              <ul class="info-address">
                <li>
                  <div class="address">
                    <div class="icon-part">
                      <i class="flaticon-call"></i>
                    </div>
                    <div class="content-part">
                      <span class="title">
                        إتصل بنا:</span>
                      <a href="tel:+21696225134">+216 96 225 134</a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="address">
                    <div class="icon-part">
                      <i class="flaticon-email"></i>
                    </div>
                    <div class="content-part">
                      <span class="title">
                        البريد الالكتروني:</span>
                      <a href="mailto:support@rstheme.com">support rstheme.com</a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="address">
                    <div class="icon-part">
                      <i class="flaticon-location"></i>
                    </div>
                    <div class="content-part">
                      <span class="title">
                        التوقيت:</span>
                      <p class="margin-0 white-color">8h - 20h</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-part menu-cs-prt">
        <div class="container">
          <div class="row rs-vertical-middle">
            <div class="col-lg-8">
              <div class="logo-md">
                <div class="logo-area">
                  <a href="index.html"><img src="/assets/images/white-logo.png" alt="logo"></a>
                </div>
              </div>
              <div class="main-menu">
                <a class="rs-menu-toggle" id="btn-tooggle-menu"><i class="fa fa-bars"></i></a>
                <nav class="rs-menu" id="menu-tooggle">
                  <ul class="nav-menu menu-cs">
                    <li>
                      <a href="#">
                        من نحن
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        مجالاتنا
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        إستشارة قانونية
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        منشوراتنا
                      </a>
                    </li>
                  </ul> <!-- //.nav-menu -->
                </nav>
              </div> <!-- //.main-menu -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Menu End -->
  </header>
  <!--Header End-->
</div>
<router-outlet></router-outlet>
<footer id="rs-footer" class="rs-footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 footer-widget-one md-mb-50">
          <div class="about-widget" style="text-align: center;">
            <a href="index.html">
              <img src="/assets/images/white-logo.png" alt="Footer Logo">
            </a>
            <div class="footer-info">
              <p class="footer-desc">
                نحن مكتب محاماة تونسي يجمع بين الخبرة القانونية والالتزام الأخلاقي، هدفنا تقديم
                خدمات قانونية دقيقة وفعّالة لمواطنينا داخل تونس وخارجها. نعمل بكل احترافية في مجالات
                متنوعة تشمل الأحوال الشخصية، القانون الجزائي، المخالفات، القضايا الإدارية، وتسوية
                النزاعات، مع التركيز على تحقيق العدالة الاجتماعية والدفاع عن الحقوق بكل شفافية
                ومسؤولية. نؤمن بأن كل ملف هو أمانة، ونعمل على متابعته بجدية ومرافقة حرفائنا خطوة
                بخطوة حتى النهاية
              </p>
            </div>
            <ul class="social-links">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="copyright text-center">
        <p>&copy; 2020 All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>