<div class="full-width-header header-transparent2">
    <!--Header Start-->
    <header id="rs-header" class="rs-header">
        <!-- Menu Start -->
        <div class="menu-area menu-sticky">
            <div class="top-part hidden-md">
                <div class="container">
                    <div class="row rs-vertical-middle">
                        <div class="col-md-3">
                            <div class="logo-area">
                                <a routerLink="/"><img src="/assets/logo.png" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <ul class="info-address">
                                <li>
                                    <div class="address">
                                        <div class="icon-part">
                                            <i class="flaticon-call"></i>
                                        </div>
                                        <div class="content-part">
                                            <span class="title">
                                                إتصل بنا:</span>
                                            <a href="tel:+21696225134">+216 96 225 134</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="address">
                                        <div class="icon-part">
                                            <i class="flaticon-email"></i>
                                        </div>
                                        <div class="content-part">
                                            <span class="title">
                                                البريد الالكتروني:</span>
                                            <a href="mailto:support@rstheme.com">support rstheme.com</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="address">
                                        <div class="icon-part">
                                            <i class="flaticon-location"></i>
                                        </div>
                                        <div class="content-part">
                                            <span class="title">
                                                التوقيت:</span>
                                            <p class="margin-0 white-color">8h - 20h</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-part menu-cs-prt">
                <div class="container">
                    <div class="row rs-vertical-middle">
                        <div class="col-lg-8">
                            <div class="logo-md">
                                <div class="logo-area">
                                    <a routerLink="/"><img src="/assets/logo.png" alt="logo"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->
    </header>
    <!--Header End-->
</div>
<div class="rs-breadcrumbs innerbg2" id="headerBlogs">
    <div class="container">
        <div class="breadcrumbs-inner text-center">
            <h1 class="breadcrumbs-title white-color">{{blog.title}}</h1>
            <ul class="breadcrumbs-meta">
                <li>
                    <a routerLink="/blogs">
                        المنشورات
                    </a>
                </li>
                <li>
                    المنشور
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="rs-blog inner gray-bg pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-item mb-60 xs-mb-30">
                    <div class="blog-image">
                        <img [src]="blog.image" alt="Blog Image">
                    </div>
                    <div class="text-bottom">
                        <h3 class="title" style="text-align: right;"><a href="#">{{blog.title}}</a>
                        </h3>
                        <ul class="blog-meta" style="text-align: right;">
                            <li>{{blog.date}}</li>
                        </ul>
                        <div class="blog-desc" style="text-align: right;">
                            {{blog.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>