<div class="full-width-header header-transparent2">
    <!--Header Start-->
    <header id="rs-header" class="rs-header">
        <!-- Menu Start -->
        <div class="menu-area menu-sticky">
            <div class="top-part hidden-md">
                <div class="container">
                    <div class="row rs-vertical-middle">
                        <div class="col-md-3">
                            <div class="logo-area">
                                <a routerLink="/"><img src="/assets/logo.png" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <ul class="info-address">
                                <li>
                                    <div class="address">
                                        <div class="icon-part">
                                            <i class="flaticon-call"></i>
                                        </div>
                                        <div class="content-part">
                                            <span class="title">
                                                إتصل بنا:</span>
                                            <a href="tel:+21696225134">+216 96 225 134</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="address">
                                        <div class="icon-part">
                                            <i class="flaticon-email"></i>
                                        </div>
                                        <div class="content-part">
                                            <span class="title">
                                                البريد الالكتروني:</span>
                                            <a href="mailto:support@rstheme.com">support rstheme.com</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="address">
                                        <div class="icon-part">
                                            <i class="flaticon-location"></i>
                                        </div>
                                        <div class="content-part">
                                            <span class="title">
                                                التوقيت:</span>
                                            <p class="margin-0 white-color">8h - 20h</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-part menu-cs-prt">
                <div class="container">
                    <div class="row rs-vertical-middle">
                        <div class="col-lg-8">
                            <div class="logo-md">
                                <div class="logo-area">
                                    <a routerLink="/"><img src="/assets/logo.png" alt="logo"></a>
                                </div>
                            </div>
                            <div class="main-menu">
                                <a class="rs-menu-toggle" id="btn-tooggle-menu"><i class="fa fa-bars"></i></a>
                                <nav class="rs-menu" id="menu-tooggle">
                                    <ul class="nav-menu menu-cs">
                                        <li>
                                            <a (click)="goToSection(aboutSection)">
                                                من نحن
                                            </a>
                                        </li>
                                        <li>
                                            <a (click)="goToSection(servicesSection)">
                                                مجالاتنا
                                            </a>
                                        </li>
                                        <li>
                                            <a (click)="goToSection(formSection)">
                                                إستشارة قانونية
                                            </a>
                                        </li>
                                        <li>
                                            <a (click)="goToSection(blogsSection)">
                                                منشوراتنا
                                            </a>
                                        </li>
                                    </ul> <!-- //.nav-menu -->
                                </nav>
                            </div> <!-- //.main-menu -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->
    </header>
    <!--Header End-->
</div>
<div class="main-content">
    <!-- Slider Start -->
    <div id="rs-slider" class="rs-slider slider2">
        <div class="bend niceties">
            <div id="nivoSlider" class="slides">
                <img src="/assets/images/slider/h2-sl1.jpg" alt="" title="#slide-1" />
            </div>
            <!-- Slide 1 -->
            <div id="slide-1" class="slider-direction">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="container text-center">
                            <div class="slider-des">
                                <div class="sl-sub-title">
                                    معك لحماية حقوقك
                                </div>
                                <h1 class="sl-title">
                                    وتحقيق العدالة
                                </h1>
                                <div class="sl-desc margin-0">
                                    في عالم مليء بالتحديات القانونية، نحن إلى جانبك للدفاع عن حقوقك وتقديم
                                    الاستشارات الدقيقة وفقًا للقانون التونسي. سواء تعلق الأمر بالأحوال الشخصية،
                                    القضايا الجزائية، أو الملفات الإدارية، <br> نحن نعمل بكل احترافية وشفافية من أجل
                                    تحقيق العدالة وضمان مصالحك في كل مرحلة من مراحل الملف.
                                </div>
                            </div>
                            <div class="slider-bottom">
                                <ul>
                                    <li><a href="https://wa.me/+21696225134" target="_blank" class="readon">
                                            إتصل بنا
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider End -->

    <!-- Services Start -->
    <div id="rs-services" class="rs-services style1 long-gap md-pt-80" style="margin-top: -5%;margin-bottom: -7%;">
        <div class="container">
            <div class="row rs-vertical-middle">
                <div class="col-lg-12" data-aos="fade-up" data-aos-duration="1100">
                    <div class="service-inner">
                        <div class="service-box">
                            <div class="image-part">
                                <img src="/assets/images/services/icons/1.png" alt="">
                            </div>
                            <div class="text">
                                <h4 class="title" style="text-align: right;">
                                    <a>
                                        متابعة دقيقة لكل ملف
                                    </a>
                                </h4>
                                <div class="desc" style="text-align: right;">
                                    نحرص على متابعة ملفاتك خطوة بخطوة، مع إعلامك بكل تطور جديد وتحقيق أفضل النتائج
                                    الممكنة.
                                </div>
                            </div>
                        </div>
                        <div class="service-box dark-bg">
                            <div class="image-part">
                                <img src="/assets/images/services/icons/2.png" alt="">
                            </div>
                            <div class="text">
                                <h4 class="title" style="text-align: right;">
                                    <a>
                                        دفاع ملتزم وشفاف
                                    </a>
                                </h4>
                                <div class="desc" style="text-align: right;">
                                    نعمل بكل التزام ووضوح لضمان حقوقك، ونبني وسائل الدفاع على أسس قانونية متينة
                                    ومنظمة.
                                </div>
                            </div>
                        </div>
                        <div class="service-box">
                            <div class="image-part">
                                <img src="/assets/images/services/icons/3.png" alt="">
                            </div>
                            <div class="text">
                                <h4 class="title" style="text-align: right;">
                                    <a>
                                        خبرة قانونية شاملة
                                    </a>
                                </h4>
                                <div class="desc" style="text-align: right;">
                                    رافقك في جميع أنواع القضايا: مدنية، جزائية، إدارية، وشخصية، بخبرة قانونية عميقة
                                    ومعرفة دقيقة بالقوانين التونسية.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->

    <!-- About Section Start -->
    <div id="rs-about" #aboutSection class="rs-about style1 pt-120 pb-120 md-pt-80 md-pb-78">
        <div class="container">
            <div class="row rs-vertical-middle">
                <div class="col-lg-7 pl-45 md-pl-15" data-aos="fade-right" data-aos-duration="1500">
                    <div class="sec-title mb-24">
                        <div class="sub-title primary tt-cs" style="text-align: right;">
                            نبذة عنا
                        </div>
                        <h2 class="title mb-0 tt-cs" style="text-align: right;">
                            ⚖️ من نحن
                        </h2>
                    </div>
                    <p class="des mb-36 description-cs" style="text-align: right;">
                        نحن مكتب محاماة تونسي يجمع بين الخبرة القانونية والالتزام الأخلاقي، هدفنا تقديم خدمات
                        قانونية دقيقة وفعّالة لمواطنينا داخل تونس وخارجها. نعمل بكل احترافية في مجالات متنوعة تشمل
                        الأحوال الشخصية، القانون الجزائي، المخالفات، القضايا الإدارية، وتسوية النزاعات، مع التركيز
                        على تحقيق العدالة الاجتماعية والدفاع عن الحقوق بكل شفافية ومسؤولية. نؤمن بأن كل ملف هو
                        أمانة، ونعمل على متابعته بجدية ومرافقة حرفائنا خطوة بخطوة حتى النهاية.
                    </p>
                </div>
                <div class="col-lg-5 md-mb-30" data-aos="fade-left" data-aos-duration="1500">
                    <img src="/assets/images/about.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- About Section End -->

    <!-- Our Practice Areas Start -->
    <div #servicesSection class="rs-our-practice style1 title-bg pt-114 pb-120 md-pt-72 md-pb-80">
        <div class="container">
            <div class="sec-title top-line text-center mb-49 xs-mb-31">
                <div class="sub-title primary">
                    ما نقوم به
                </div>
                <h2 class="title white-color mb-0">مجالات العمل لدينا</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="practice-inner">
                        <div class="content-part">
                            <h4 class="title" style="text-align: right;"><a href="#">
                                    القانون الجزائي
                                </a></h4>
                            <div class="desc" style="text-align: right;">
                                الدفاع في القضايا الجنائية والجنحية، وضمان حقوق المتهم في جميع مراحل التحقيق
                                والمحاكمة.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="practice-inner">
                        <div class="content-part">
                            <h4 class="title" style="text-align: right;"><a href="#">
                                    المخالفات
                                </a></h4>
                            <div class="desc" style="text-align: right;">
                                التعامل مع مختلف أنواع المخالفات (مرورية، إدارية...) وتقديم الطعون اللازمة.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="practice-inner">
                        <div class="content-part">
                            <h4 class="title" style="text-align: right;"><a href="#">
                                    القانون الإداري
                                </a></h4>
                            <div class="desc" style="text-align: right;">
                                رفع الدعاوى ضد الإدارات العمومية أو الدفاع عنها، والتعامل مع القرارات الإدارية.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="practice-inner">
                        <div class="content-part">
                            <h4 class="title" style="text-align: right;"><a href="#">
                                    الملفات الدبلوماسية والإدارية
                                </a></h4>
                            <div class="desc" style="text-align: right;">
                                حل النزاعات الإدارية بالطرق القانونية أو الدبلوماسية دون اللجوء للقضاء عند الإمكان.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="practice-inner">
                        <div class="content-part">
                            <h4 class="title" style="text-align: right;"><a href="#">
                                    تحليل المحاضر وسماعات التحقيق
                                </a></h4>
                            <div class="desc" style="text-align: right;">
                                دراسة دقيقة للمحاضر وسماعات البحث لضمان تحضير وسائل دفاع قوية وفعّالة.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="practice-inner">
                        <div class="content-part">
                            <h4 class="title" style="text-align: right;"><a href="#">
                                    الوساطة وتسوية النزاعات
                                </a></h4>
                            <div class="desc" style="text-align: right;">
                                اقتراح حلول ودية وقانونية للنزاعات قبل الوصول إلى المحكمة، حفاظًا على الوقت والمال.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Practice Areas END -->

    <!-- About Section Start -->
    <div id="rs-about" #formSection class="rs-about style2 pt-120 pb-120 md-pt-80 md-pb-80">
        <div class="container padding-0 md-pl-pr-15">
            <div class="wraping gray-bg">
                <div class="row rs-vertical-middle">
                    <div class="col-lg-5 col-md-12 pl-0 md-pl-pr-15" data-aos="fade-right" data-aos-duration="1500">
                        <div class="free-consultation">
                            <div class="sec-title mb-45">
                                <div class="sub-title primary" style="text-align: center;">تواصل معنا</div>
                                <h2 class="title white-color mb-0" style="text-align: center;">
                                    إستشارة قانونية
                                </h2>
                            </div>
                            <form>
                                <div class="row" [formGroup]="form">
                                    <div class="col-md-12">
                                        <input type="text" style="text-align: right;" name="name"
                                            placeholder="الاسم و اللقب" required formControlName="name">
                                    </div>
                                    <div class="col-md-12">
                                        <input type="email" style="text-align: right;" name="email"
                                            placeholder="عنوان البريد الالكتروني" required formControlName="email">
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" style="text-align: right;" name="phone"
                                            placeholder="رقم الهاتف" required formControlName="phone">
                                    </div>
                                    <div class="col-md-12">
                                        <textarea name="message" style="text-align: right;" placeholder="الموضوع"
                                            required formControlName="message"></textarea>
                                    </div>
                                </div>
                                <div class="sunbmit-btn mt-30">
                                    <div (click)="sendForm()"
                                        [class]="form.valid ? 'readon upper' : 'readon upper disable'"
                                        style="width: 100%;cursor: pointer;text-align: center;">
                                        ارسال
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 pl-75 pr-85" data-aos="fade-left" data-aos-duration="1500">
                        <img src="/assets/images/cover-qanoun.png" alt="#">
                        <p class="des mb-36 description-cs" style="text-align: center;">
                            نحن مكتب محاماة تونسي يجمع بين الخبرة القانونية والالتزام الأخلاقي، هدفنا تقديم خدمات
                            قانونية دقيقة وفعّالة لمواطنينا داخل تونس وخارجها. نعمل بكل احترافية في مجالات متنوعة
                            تشمل
                            الأحوال الشخصية، القانون الجزائي، المخالفات، القضايا الإدارية، وتسوية النزاعات، مع
                            التركيز
                            على تحقيق العدالة الاجتماعية والدفاع عن الحقوق بكل شفافية ومسؤولية. نؤمن بأن كل ملف هو
                            أمانة، ونعمل على متابعته بجدية ومرافقة حرفائنا خطوة بخطوة حتى النهاية.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Section End -->

    <div class="rs-blog inner gray-bg pt-120 pb-90 md-pt-80 md-pb-50" #blogsSection>
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-30" *ngFor="let blog of blogService.blogs">
                    <div class="blog-item">
                        <div class="blog-image">
                            <img [src]="blog.image" alt="Blog Image">
                        </div>
                        <div class="text-bottom">
                            <h3 class="title2"><a [routerLink]="'/blog/'+blog.id"> {{blog.title}} </a></h3>
                            <ul class="blog-meta">
                                <li>{{blog.date}}</li>
                            </ul>
                            <div class="blog-desc">{{blog.description}}</div>
                            <div class="blog-btn mt-17">
                                <a [routerLink]="'/blog/'+blog.id" class="readon2">
                                    المزيد
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-area text-center pt-30" data-aos="fade-up" data-aos-duration="1200">
                <a routerLink="/blogs" class="readon">إكتشف المزيد</a>
            </div>
        </div>
    </div>
    <!-- Section Wrap for Backgrund End -->
</div>